<li lang="java">
    <a href="{{ site.java }}" class="otherLinkColour">Java Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-java.html" -%}
<li lang="dotnet">
    <a href="{{ site.dotnet }}" class="otherLinkColour">.NET Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-dotnet.html" -%}
<li lang="cplusplus">
    <a href="{{ site.c }}" class="otherLinkColour">C++ Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-cpp.html" -%}
<li lang="c">
    <a href="{{ site.cpp }}" class="otherLinkColour">C Edition Introduction</a>
</li>
{%- include liquid_searchVersionTreeFile.html ver=include.ver curPath=include.curPath targetRelativePath="sidelist-programming/programming-c.html" -%}
