<li lang="cplusplus" class="category">DEVELOPMENT</li>
<li lang="cplusplus"><a href="{{ site.c-cplusplus }}cpp-user-guide.html" class="otherLinkColour">User Guide</a></li>
<li lang="cplusplus"><a href="{{ site.c-cplusplus-api-reference }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CCaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/instantiate.html" class="otherLinkColour">Constructor and Destructor</a></li>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/single-file-processing.html" class="otherLinkColour">Single-File Processing</a></li>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/multiple-file-processing.html" class="otherLinkColour">Multiple-File Processing</a></li>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/settings.html" class="otherLinkColour">Settings</a></li>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/intermediate-result.html" class="otherLinkColour">Intermediate Result</a></li>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-methods.html" class="otherLinkColour">Auxiliary</a></li>
            </ul>
        </li>
        <li><a>Input</a>
            <ul>
                <li><a href="{{ site.dcv_cpp_api }}utility/directory-fetcher.html" class="otherLinkColour">CDirectoryFetcher</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">CImageSourceAdapter</a></li>
                <li><a href="{{ site.dcv_cpp_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">CProactiveImageSourceAdapter</a></li>
            </ul>
        </li>
        <li><a>Final Results</a>
            <ul>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html">CCapturedResultReceiver</a></li>
                <li><a href="{{ site.c-cplusplus-api-reference }}recognized-text-lines-result.html" class="otherLinkColour">CRecognizedTextLinesResult</a></li>
                <li><a href="{{ site.c-cplusplus-api-reference }}text-line-result-item.html" class="otherLinkColour">CTextLineResultItem</a></li>
                <li><a href="{{ site.c-cplusplus-api-reference }}character-result.html" class="otherLinkColour">CCharacterResult</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/captured-result-array.html" class="otherLinkColour">CCapturedResultArray</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/captured-result.html" class="otherLinkColour">CCapturedResult</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CCapturedResultItem</a></li>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/raw-image-result-item.html" class="otherLinkColour">CRawImageResultItem</a></li>
            </ul>                    
        </li>
        <li><a>Intermediate Results</a>
            <ul>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">CIntermediateResultManager</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">CIntermediateResultReceiver</a></li>
                <li><a href="{{ site.c-cplusplus-api-reference }}localized-text-lines-unit.html" class="otherLinkColour">CLocalizedTextLinesUnit</a></li>
                <li><a href="{{ site.c-cplusplus-api-reference }}recognized-text-lines-unit.html" class="otherLinkColour">CRecognizedTextLinesUnit</a></li>
                <li><a href="{{ site.c-cplusplus-api-reference }}localized-text-line-element.html" class="otherLinkColour">CLocalizedTextLineElement</a></li>
                <li><a href="{{ site.c-cplusplus-api-reference }}recognized-text-line-element.html" class="otherLinkColour">CRecognizedTextLineElement</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">CIntermediateResultUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">CBinaryImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">CColourImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">CEnhancedGrayscaleImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">CGrayscaleImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">CPredetectedRegionsUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">CScaledDownColourImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">CTextZonesUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">CTextureDetectionResultUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">CTextureRemovedBinaryImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">CTextureRemovedGrayscaleImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">CTransformedGrayscaleImageUnit</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">CRegionObjectElement</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">CPredetectedRegionElement</a></li>
            </ul>                    
        </li>
        <li><a>State Listener</a>
            <ul>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">CCaptureStateListener</a></li>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">CImageSourceStateListener</a></li>
            </ul>                    
        </li>
        <li><a href="{{ site.dcv_cpp_api }}license/license-manager.html" class="otherLinkColour">CLicenseManager</a></li>
        <li><a>Basic Structure</a>
            <ul>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/point.html" class="otherLinkColour">CPoint</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/rect.html" class="otherLinkColour">CRect</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">CQuadrilateral</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/image-data.html" class="otherLinkColour">CImageData</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/image-tag.html" class="otherLinkColour">CImageTag</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">CFileImageTag</a></li>
                <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">CPDFReadingParameter</a></li>
            </ul>                    
        </li>
        <li><a class="otherLinkColour">Enumerations</a>
            <ul>
                <li><a href="{{ site.enumerations }}core/buffer-overflow-protection-mode.html?src=cpp&&lang=cpp" class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                <li><a href="{{ site.enumerations }}core/captured-result-item-type.html?src=cpp&&lang=cpp" class="otherLinkColour">CapturedResultItemType</a></li>
                <li><a href="{{ site.enumerations }}core/error-code.html?src=cpp&&lang=cpp" class="otherLinkColour">ErrorCode</a></li>
                <li><a href="{{ site.enumerations }}core/grayscale-transformation-mode.html?src=cpp&&lang=cpp" class="otherLinkColour">GrayscaleTransformationMode</a></li>
                <li><a href="{{ site.enumerations }}core/image-capture-distance-mode.html?src=cpp&&lang=cpp" class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                <li><a href="{{ site.enumerations }}core/image-pixel-format.html?src=cpp&&lang=cpp" class="otherLinkColour">ImagePixelFormat</a></li>
                <li><a href="{{ site.enumerations }}core/image-source-state.html?src=cpp&&lang=cpp" class="otherLinkColour">ImageSourceState</a></li>
                <li><a href="{{ site.enumerations }}core/image-tag-type.html?src=cpp&&lang=cpp" class="otherLinkColour">ImageTagType</a></li>
                <li><a href="{{ site.enumerations }}core/intermediate-result-unit-type.html?src=cpp&&lang=cpp" class="otherLinkColour">IntermediateResultUnitType</a></li>
                <li><a href="{{ site.enumerations }}core/pdf-reading-mode.html?src=cpp&&lang=cpp" class="otherLinkColour">PDFReadingMode</a></li>
                <li><a href="{{ site.enumerations }}core/region-object-element-type.html?src=cpp&&lang=cpp" class="otherLinkColour">RegionObjectElementType</a></li>
                <li><a href="{{ site.enumerations }}core/section-type.html?src=cpp&&lang=cpp" class="otherLinkColour">SectionType</a></li>
                <li><a href="{{ site.enumerations }}core/target-type.html?src=cpp&&lang=cpp" class="otherLinkColour">TargetType</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="cplusplus"><a href="{{ site.cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.c-cplusplus-release-notes }}cpp-3.html" class="otherLinkColour">Version 3.x</a></li>
        <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-2.html?src=cpp" class="otherLinkColour">Version 2.x</a></li>
        <li><a href="{{ site.c-cplusplus-release-notes }}c-cpp-1.html?src=cpp" class="otherLinkColour">Version 1.x</a></li>        
    </ul>
</li>
