<li lang="cplusplus" class="category">DEVELOPMENT</li>
<li lang="cplusplus"><a href="{{ site.dlr_cpp }}user-guide.html" class="otherLinkColour">User Guide</a></li>

<li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a>DynamsoftCaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CCaptureVisionRouter</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/instantiate.html"  class="otherLinkColour">Constructor and Destructor</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/buffered-items.html"  class="otherLinkColour">Buffered Items</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-methods.html"  class="otherLinkColour">Auxiliary Methods</a></li>
                    </ul>
                </li>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/capture-state-listener.html" class="otherLinkColour">CCaptureStateListener</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CCaptureVisionRouterModule</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/captured-result.html" class="otherLinkColour">CCapturedResult</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/captured-result-filter.html" class="otherLinkColour">CCapturedResultFilter</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/captured-result-receiver.html" class="otherLinkColour">CCapturedResultReceiver</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/image-source-state-listener.html" class="otherLinkColour">CImageSourceStateListener</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/intermediate-result-manager.html" class="otherLinkColour">CIntermediateResultManager</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/intermediate-result-receiver.html" class="otherLinkColour">CIntermediateResultReceiver</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/preset-template.html"  class="otherLinkColour">CPresetTemplate</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/auxiliary-classes/buffered-items-manager.html" class="otherLinkColour">CBufferedItemsManager</a></li>
                    </ul>
                </li>
                <li><a>Structs</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}capture-vision-router/structs/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcv_enumerations }}capture-vision-router/capture-state.html?lang=cpp"  class="otherLinkColour">CaptureState</a></li>
                        <li><a href="{{ site.dcv_enumerations }}capture-vision-router/image-source-state.html?lang=cpp"  class="otherLinkColour">ImageSourceState</a></li>
                    </ul>
                </li>

            </ul>
        </li>
        <li><a>DynamsoftLabelRecognizer</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dlr_cpp_api }}character-result.html" class="otherLinkColour">CCharacterResult</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}label-recognizer-module.html" class="otherLinkColour">CLabelRecognizerModule</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}localized-text-line-element.html" class="otherLinkColour">CLocalizedTextLineElement</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}localized-text-lines-unit.html" class="otherLinkColour">CLocalizedTextLinesUnit</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}recognized-text-line-element.html" class="otherLinkColour">CRecognizedTextLineElement</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}recognized-text-lines-result.html" class="otherLinkColour">CRecognizedTextLinesResult</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}recognized-text-lines-unit.html" class="otherLinkColour">CRecognizedTextLinesUnit</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}text-line-result-item.html" class="otherLinkColour">CTextLineResultItem</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}buffered-character-item.html" class="otherLinkColour">CBufferedCharacterItem</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}buffered-character-item-set.html" class="otherLinkColour">CBufferedCharacterItemSet</a></li>
                        <li><a href="{{ site.dlr_cpp_api }}character-cluster.html" class="otherLinkColour">CCharacterCluster</a></li>
                    </ul>
                </li>
                <li><a>Structs</a>
                    <ul>
                        <li><a href="{{ site.dlr_cpp_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <!-- <li><a>DynamsoftCodeParser</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcp_cpp_api }}parsed-result-item.html" class="otherLinkColour">CParsedResultItem</a></li>
                        <li><a href="{{ site.dcp_cpp_api }}parsed-result.html" class="otherLinkColour">CParsedResult</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcv_enumerations }}code-parser/mapping-status.html?lang=cpp"  class="otherLinkColour">MappingStatus</a></li>
                        <li><a href="{{ site.dcv_enumerations }}code-parser/validation-status.html?lang=cpp"  class="otherLinkColour">ValiadtionStatus</a></li>
                    </ul>
                </li>
            </ul>
        </li> -->
        <li><a>DynamsoftCore</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/abstract-intermediate-result-receiver.html" class="otherLinkColour">CAbstractIntermediateResultReceiver</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">CBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CCapturedResultItem</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">CColourImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">CContoursUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/contour.html" class="otherLinkColour">CContour</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/core-module.html" class="otherLinkColour">CCoreModule</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/corner.html" class="otherLinkColour">CCorner</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/edge.html" class="otherLinkColour">CEdge</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">CEnhancedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">CFileImageTag</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">CGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/image-data.html" class="otherLinkColour">CImageData</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">CImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/image-source-error-listener.html" class="otherLinkColour">CImageSourceErrorListener</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/image-tag.html" class="otherLinkColour">CImageTag</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">CIntermediateResultUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">CIntermediateResult</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">CLineSegmentsUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/line-segment.html" class="otherLinkColour">CLineSegment</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/observed-parameters.html" class="otherLinkColour">CObservationParameters</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/original-image-result-item.html"  class="otherLinkColour">COriginalImageResultItem</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">CPDFReadingParameter</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/point.html" class="otherLinkColour">CPoint</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">CPredetectedRegionElement</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">CPredetectedRegionsUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">CQuadrilateral</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/rect.html" class="otherLinkColour">CRect</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">CRegionObjectElement</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">CScaledDownColourImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/short-lines-unit.html" class="otherLinkColour">CShortLinesUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">CTextRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/text-zone.html" class="otherLinkColour">CTextZone</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">CTextZonesUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">CTextureDetectionResultUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">CTextureRemovedBinaryImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">CTextureRemovedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">CTransformedGrayscaleImageUnit</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/vector4.html" class="otherLinkColour">CVector4</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">CVideoFrameTag</a></li>
                    </ul>
                </li>
                
                <li><a>Structs</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}core/structs/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                    </ul>
                </li>
                <li><a>Enums</a>
                    <ul>
                        <li><a href="{{ site.dcv_enumerations }}core/buffer-overflow-protection-mode.html?lang=cpp"  class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/captured-result-item-type.html?lang=cpp"  class="otherLinkColour">CapturedResultItemType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/colour-channel-usage-type.html?lang=cpp"  class="otherLinkColour">ColourChannelUsageType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/corner-type.html?lang=cpp"  class="otherLinkColour">CornerType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/error-code.html?lang=cpp"  class="otherLinkColour">ErrorCode</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/grayscale-enhancement-mode.html?lang=cpp" class="otherLinkColour">GrayscaleEnhancementMode</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/grayscale-transformation-mode.html?lang=cpp"  class="otherLinkColour">GrayscaleTransformationMode</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/image-capture-distance-mode.html?lang=cpp"  class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/image-pixel-format.html?lang=cpp"  class="otherLinkColour">ImagePixelFormat</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/image-tag-type.html?lang=cpp"  class="otherLinkColour">ImageTagType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/intermediate-result-unit-type.html?lang=cpp"  class="otherLinkColour">IntermediateResultUnitType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/pdf-reading-mode.html?lang=cpp"  class="otherLinkColour">PDFReadingMode</a></li>                
                        <li><a href="{{ site.dcv_enumerations }}core/raster-data-source.html?lang=cpp"  class="otherLinkColour">RasterDataSource</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/region-object-element-type.html?lang=cpp"  class="otherLinkColour">RegionObjectElementType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/section-type.html?lang=cpp"  class="otherLinkColour">SectionType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/target-type.html?lang=cpp"  class="otherLinkColour">TargetType</a></li>
                        <li><a href="{{ site.dcv_enumerations }}core/video-frame-quality.html?lang=cpp"  class="otherLinkColour">VideoFrameQuality</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftUtility</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}utility/directory-fetcher.html" class="otherLinkColour">CDirectoryFetcher</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}utility/file-fetcher.html" class="otherLinkColour">CFileFetcher</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}utility/image-manager.html" class="otherLinkColour">CImageManager</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">CMultiFrameResultCrossFilter</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}utility/proactive-image-source-adapter.html" class="otherLinkColour">CProactiveImageSourceAdapter</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}utility/utility-module.html" class="otherLinkColour">CUtilityModule</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftLicense</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}license/license-manager.html" class="otherLinkColour">CLicenseManager</a></li>
                        <li><a href="{{ site.dcv_cpp_api }}license/license-module.html" class="otherLinkColour">CLicenseModule</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a>DynamsoftImageProcessing</a>
            <ul>
                <li><a>Classes</a>
                    <ul>
                        <li><a href="{{ site.dcv_cpp_api }}image-processing/image-processing-module.html" class="otherLinkColour">CImageProcessingModule</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</li>
<li lang="cplusplus" class="category">USEFUL RESOURCES</li>

<li lang="cplusplus"><a href="{{ site.dlr_cpp_release_notes }}" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.dlr_cpp_release_notes }}cpp-3.html" class="otherLinkColour">Version 3.x</a></li>
        <li><a href="{{ site.dlr_c_cplusplus_release_notes }}c-cpp-2.html?src=cpp" class="otherLinkColour">Version 2.x</a></li>
        <li><a href="{{ site.dlr_c_cplusplus_release_notes }}c-cpp-1.html?src=cpp" class="otherLinkColour">Version 1.x</a></li>        
    </ul>
</li>
<li lang="cplusplus"><a href="{{ site.dlr_cpp }}upgrade-instruction.html" class="otherLinkColour">Upgrade Instructions</a></li>