<li lang="cplusplus" class="category">DEVELOPMENT</li>
<li lang="cplusplus"><a href="{{ site.dlr_cpp }}user-guide.html" class="otherLinkColour">User Guide</a></li>
<li lang="cplusplus"><a href="{{ site.dlr_cpp_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a href="{{ site.dlr_cpp_methods }}" class="otherLinkColour">CLabelRecognition Class</a>
            <ul>
                    <li><a href="{{ site.dlr_cpp_methods }}general.html" class="otherLinkColour">General Methods</a></li>
                    <li><a href="{{ site.dlr_cpp_methods }}initialization.html" class="otherLinkColour">Initialization Methods</a></li>
                    <li><a href="{{ site.dlr_cpp_methods }}recognizing.html" class="otherLinkColour">Recognizing Methods</a></li>
                    <li><a href="{{ site.dlr_cpp_methods }}result.html" class="otherLinkColour">Result Methods</a></li>
                    <li><a href="{{ site.dlr_cpp_methods }}settings.html" class="otherLinkColour">Setting Methods</a></li>
            </ul>
        </li>
        <li><a href="{{ site.dlr_c_cplusplus_structs }}" class="otherLinkColour">Structs</a>
            <ul>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-character-result.html?src=cpp" class="otherLinkColour">DLRCharacterResult</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-image-data.html?src=cpp" class="otherLinkColour">DLRImageData</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-line-result.html?src=cpp" class="otherLinkColour">DLRLineResult</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-point.html?src=cpp" class="otherLinkColour">DLRPoint</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-quadrilateral.html?src=cpp" class="otherLinkColour">DLRQuadrilateral</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-reference-region.html?src=cpp" class="otherLinkColour">DLRReferenceRegion</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-result.html?src=cpp" class="otherLinkColour">DLRResult</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-result-array.html?src=cpp" class="otherLinkColour">DLRResultArray</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dlr-runtime-settings.html?src=cpp" class="otherLinkColour">DLRRuntimeSettings</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_structs }}dm-lts-connection-parameters.html?src=cpp" class="otherLinkColour">DM_LTSConnectionParameters</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="cplusplus" class="category">USEFUL RESOURCES</li>

<li lang="cplusplus"><a href="{{ site.dlr_c_cplusplus_release_notes }}index.html?src=cpp" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.dlr_c_cplusplus_release_notes }}c-cpp-1.html?src=cpp" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>