<li lang="c" class="category">DEVELOPMENT</li>
<li lang="c"><a href="{{ site.dlr_c}}user-guide.html" class="otherLinkColour">User Guide</a></li>

<li lang="c"><a href="{{ site.dlr_c_api }}index.html" class="otherLinkColour">API Reference</a>
    <ul>
        <li><a href="{{ site.dlr_c_api }}label-recognizer-functions.html" class="otherLinkColour">Primary API</a></li>
        <li><a style="cursor:pointer;color:#3c3c3c">Auxiliary Structs</a>
            <ul>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}point.html?src=c" class="otherLinkColour">DM_Point</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}quadrilateral.html?src=c" class="otherLinkColour">Quadrilateral</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}image-data.html?src=c" class="otherLinkColour">ImageData</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}barcode-result-array.html?src=c" class="otherLinkColour">BarcodeResultArray</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}barcode-result.html?src=c" class="otherLinkColour">BarcodeResult</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-runtime-settings.html?src=c" class="otherLinkColour">DLR_RuntimeSettings</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-reference-region.html?src=c" class="otherLinkColour">DLR_ReferenceRegion</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-result-array.html?src=c" class="otherLinkColour">DLR_ResultArray</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-result.html?src=c" class="otherLinkColour">DLR_Result</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-line-result.html?src=c" class="otherLinkColour">DLR_LineResult</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-character-result.html?src=c" class="otherLinkColour">DLR_CharacterResult</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-dictionary-correction-threshold.html?src=c" class="otherLinkColour">DLR_DictionaryCorrectionThreshold</a></li>
                <li><a href="{{ site.dlr_c_cplusplus_api_reference }}dlr-further-modes.html?src=c" class="otherLinkColour">DLR_FurtherModes</a></li>
            </ul>
        </li>
    </ul>
</li>
<li lang="c" class="category">USEFUL RESOURCES</li>

<li lang="c"><a href="{{ site.dlr_c_cplusplus_release_notes }}index.html?src=c" class="otherLinkColour">Release Notes</a>
    <ul>
        <li><a href="{{ site.dlr_c_cplusplus_release_notes }}c-cpp-2.html?src=c" class="otherLinkColour">Version 2.x</a></li>
        <li><a href="{{ site.dlr_c_cplusplus_release_notes }}c-cpp-1.html?src=c" class="otherLinkColour">Version 1.x</a></li>
    </ul>
</li>
<li lang="c" class="category">OTHER EDITIONS</li>
<li lang="c"><a class="otherLinkColour">Choose a Language</a>
    <ul>
        <li><a target="_blank" href="{{ site.dlr_python }}" class="otherLinkColour refreshLink">Python</a></li>
        <li><a target="_blank" href="{{ site.dlr_dotnet }}" class="otherLinkColour refreshLink">.NET</a></li>
        <li><a target="_blank" href="{{ site.dlr_java }}" class="otherLinkColour refreshLink">Java</a></li>
        <li><a target="_blank" href="{{ site.dlr_cpp }}" class="otherLinkColour refreshLink">C++</a></li>
    </ul>
</li>